.contact-mess {
    position: fixed;
    bottom: 10%;
    right: 2%;
    z-index: 100;
    opacity: 0.3;
}

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 1;
    padding: 10px;
}

.contact-mess:hover {
    opacity: 1;
}

.contact-mess-icon a {
    font-size: 45px;
}

.quangcaodacbiet #quangcao {
    position: fixed;
    top: 2000%;
    transform: translateX(50%);
    transition: 1s;
    z-index: 10000;
}

#nen-mo {
    position: fixed;
    display: none;
    background-color: #a4b0be;
    top: 0;
    left: 0;
    opacity: .6;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    z-index: 9999;
}

#close {
    background-color: #dc3545;
    padding: 10px;
    color: #fff;
    float: right;
    cursor: pointer;
}

/* CSS phổ biến trên web */
ul {
    list-style: none;
}

/* Đổi màu chữ liên kết thành màu nền của web khi hover */
.hover-change-color:hover {
    color: #dc3545;
    font-weight: bold;
}

.color-black {
    color: #000;
    text-decoration: none;
}

.color-black:hover {
    color: #dc3545;
}

.color-white {
    color: #fff;
    text-decoration: none;
}

.color-white:hover {
    color: #0984e3;
}

/* Thêm gạch chân vào liên kết khi hover chuột */
.hover-add-underline {
    text-decoration: underline;
}

/* Nền đổ bóng */
.panel {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Bo viền ảnh */
.border-radius-img {
    border-radius: .5rem;
    -moz-border-radius: .5rem;
    -webkit-border-radius: .5rem;
}

#menu {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100000;
    right: -10000%;
    transition: .3s;
}




/*      Extend nav menu CSS         */
.extend {
    background-color: #fff;
    width: 200px;
}

/*  */
.extend a:hover {
    text-decoration: underline;
}

.btn-home {
    background-color: #0984e3;
}

.bg-home {
    background-color: #dc3545;
}

.bg-flash-white {
    background-color: #f1f2f6;
}

.bg-menu {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-pos {
    position: absolute;
    right: 14%;
}

.none-underline {
    text-decoration: none;
}

.sub-item {
    padding: 10px;
    line-height: 1.5;
    font-size: 16px;
}

.to-pointer {
    cursor: pointer;
}

.form-search {
    position: relative;
}

.btn-search {
    position: absolute;
    right: 2%;
    top: 15%;
}

.bg-xam {
    background-color: #E6E6E6;
}





/* Index css */
.hot-header-main {
    position: relative;
}

.hot-header {
    text-align: center;
    background-color: #dc3545;
    width: 100%;
    padding: 5px 10px;
    color: #fff;
    border: 1px solid #D8D8D8;
    border-radius: .5rem .5rem 0 0;
}

.hot-content {
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding-top: 10px;
    padding-left: 10px;
}

.hot-content:last-child {
    border-radius: 0 0 .5rem .5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.banner-tvc {
    border: 1px solid #D8D8D8;
    margin-left: 5px;
    margin-top: 10px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.border-banner {
    border: 1px solid #D8D8D8;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.flex-on-mobile {
    display: flex;
    flex-wrap: nowrap;
}

.flex-on-mobile div {
    padding: 10px;
}

/* Slick Slider */
.slick-initialized .slick-slide {
    height: auto;
    margin: 0 10px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #dc3545;
    color: #fff;
    border: none;
    font-size: 20px;
    z-index: 5;
    transition: all 0.2s linear;
}

.slick-arrow:hover {
    background-color: #fff;
    color: #000;
}

.slick-arrow-banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 20px;
    z-index: 5;
    transition: all 0.2s linear;
}

.slick-arrow-banner:hover {
    background-color: #fff;
    color: #000;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 70%);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}

.slick-dots button {
    font-size: 0;
    width: 20px;
    height: 5px;
    background-color: #D8D8D8;
    border: none;
    outline: none;
    border-radius: 100rem;
}

.slick-dots .slick-active button {
    background-color: #0984e3;
    transition: all 0.5s linear;
}

.slick-product-slider {
    position: relative;
    background-color: #fff;
    color: #000;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: .2rem;
    height: 400px;
}
.slick-img-product-sale{
    position: absolute;
    top: 32px;
    width: 100%;
    left: 0;
}
.slick-img-product-sale img {
    width: 100%;
}

.slick-sale-info span {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    font-size: 11px;
    border-radius: .2rem;
}

.slick-name-product {
    font-size: 14px;
    line-height: 1.3;
    font-weight: normal;
    position: absolute;
    bottom: 110px;
}

.slick-price {
    padding-bottom: 7px;
    position: absolute;
    bottom: 50px;
}

.btn-buy{
    position: absolute;
    bottom: 10px;
}
.slick-sale-price {
    color: #dc3545;
    font-weight: bold;
}

.slick-origin-price {
    font-size: 13px;
}

.slick-sale-bonus {
    font-size: 13px;
    padding-bottom: 7px;
}

.slick-order-button {
    text-align: center;
    font-size: 15px;
    background-color: #dc3545;
    color: #fff;
    border-radius: .2rem;
    padding: 5px;
    transition: all 0.2s linear;
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 0;
    margin: 0 10px;
}

.slick-order-button:hover {
    background-color: #dfe6e9;
    color: #000;
}

@media only screen and (max-width: 880px) {
    .slick-product-slider{
        height: 500px;
    }
}





/* Quảng cáo đặc biệt - Messenger */
.contact-mess {
    position: fixed;
    bottom: 10%;
    right: 2%;
    z-index: 100;
    opacity: 0.3;
}

.contact-mess:hover {
    opacity: 1;
}

.contact-mess-icon a {
    font-size: 45px;
}

.quangcaodacbiet #quangcao {
    position: fixed;
    top: 2000%;
    transform: translateX(50%);
    transition: 1s;
    z-index: 10000;
}

#nen-mo {
    position: fixed;
    display: none;
    background-color: #a4b0be;
    top: 0;
    left: 0;
    opacity: .6;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    z-index: 9999;
}

#close {
    background-color: #dc3545;
    padding: 10px;
    color: #fff;
    float: right;
    cursor: pointer;
}





/* Response */
@media only screen and (max-width: 800px) {
    .to-up-in-phone {
        position: relative;
        top: -50px;
    }

    .nav-item {
        border: 1px solid white;
        padding-left: 10px;
    }

    .nav-item:first-child {
        border-top: 1px solid white;
    }

    .button-up {
        padding-top: -30px;
    }

    .none-on-mobile {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .fa-cart-shopping::after {
        content: " Giỏ hàng";
        text-transform: capitalize;
        font-family: 'Helvetica, Arial, sans-serif';
        font-weight: normal;
        font-size: 16px;
    }

    .fa-question::after {
        content: " Hỏi đáp/Tư Vấn";
        text-transform: capitalize;
        font-family: 'Helvetica, Arial, sans-serif';
        font-weight: normal;
        font-size: 16px;
    }

    .fa-user::after {
        content: " Tài khoản";
        text-transform: capitalize;
        font-family: 'Helvetica, Arial, sans-serif';
        font-weight: normal;
        font-size: 16px;
    }

    .banner {
        padding-top: 10px;
        padding: 1px;
        width: 1310px;
        margin: auto;
    }

    .flex-on-mobile {
        display: block;
    }
}

@media only screen and (min-width: 800px) {
    .none-on-desktop {
        display: none;
    }
}

/* Header */
.nav-main {
    position: relative;
    display: flex;
}

.nav-main-item {
    padding: 15px 0;
}

.nav-main-item a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.nav-main-item:hover .nav-link-item {
    color: #fff;
}

.nav-main-item-dropdown {
    position: absolute;
    display: none;
    padding: 10px;
    border-radius: 0 0 0.5rem 0.5rem;
    top: 100%;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 100;
}

.nav-item-name {
    font-size: 20px;
    font-weight: bold;
}

.nav-main-item:hover {
    background-color: #dc3545;
}

.nav-main-item:hover .nav-main-item-dropdown {
    display: block;
}









/* Index */

.list-product {
    margin-top: 10px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: .5rem;
}

.list-product-header {
    background-color: #dc3545;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.flash-sale-header {
    background-color: #dc3545;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}

.list-product-body {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 0;
}

.slick-banner-long {
    margin-top: 10px;
    margin-left: -1%;
}

.list-product-menu {
    padding: 10px;
    text-align: center;
}

.the-news {
    padding: 20px;
}

.news {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.news-img img {
    width: 100%;
}

.news-name {
    margin: 5px 10px;
}

.border-radius-img-header {
    border-radius: .5rem .5rem 0 0;
}

.list-product-header a {
    color: black;
    font-weight: normal;
    text-decoration: none;
    background-color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 1rem;
}

.list-product-header a:hover {
    color: #dc3545;
}

.hot-key {
    position: absolute;
    right: 10%;

}

.btn-see-more {
    text-align: center;
    padding-bottom: 20px;
}

.form-header {
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #dfe6e9;
}

.slick {
    width: 100%;
}

.slick-header {
    font-size: 21px;
    border-bottom: 1px solid #000;
}

.slick-header-title {
    padding: 10px;
}

.slick-item {
    width: auto;
    position: relative;
    padding: 10px;
}

.slick-item:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.slick-item img {
    width: 100%;
}

.slick-arrows {
    padding: 8px;
    border: none;
    background-color: #fff;
    color: #000;
}

.slick-right {
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    right: 0;
    z-index: 5;
}

.slick-left {
    position: absolute;
    transform: translateY(-110%);
    top: 0;
    left: auto;
    right: 25px;
    z-index: 5;
}

.slick-right:hover {
    background-color: #1abc9c;
    color: #fff;
}

.slick-left:hover {
    background-color: #1abc9c;
    color: #fff;
}

.sanpham {
    width: 100%;
}

.sanpham-header {
    padding: 10px 0;
    font-size: 20px;
    border-bottom: 1px solid #6c757d;
    font-weight: bold;
}

.sanpham-slick-item img {
    width: 100%;
}

.sanpham-menu {
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.sanpham-menu a {
    padding: 5px 12px;
    border: 1px solid #95a5a6;
    border-radius: 1.5rem;
    color: #000;
    text-decoration: none;
}

.sanpham-menu a:hover {
    background-color: #dc3545;
    color: #fff;
}

.sanpham-price {
    padding: 10px 0;
}

.sanpham-sale-price {
    font-size: 18px;
    font-weight: bold;
    color: #dc3545;
}

.sanpham-origin-price {
    font-size: 14px;
}

.sanpham-price {
    display: flex;
}

.sanpham-info-decrease span {
    font-size: 11px;
    margin: 0 0 0 15px;
    background-color: #dc3545;
    color: #fff;
    padding: 2px 7px;
}

.sanpham-uudai {
    padding: 10px 0;
}

.sanpham-uudai-header {
    background-color: #dc3545;
    color: #fff;
    padding: 10px;
    border: 1px solid #6c757d;
    font-weight: bold;
}

.sanpham-uudai-header img {
    width: 30px;
    margin-top: 0;
}

.sanpham-uudai-header span {
    margin-top: 10px;
}

.sanpham-uudai-body {
    border: 1px solid #6c757d;
    line-height: 1.5;
    padding: 5px 10px 0 10px;
}

.btn-order {
    padding: 10px 0;
    text-align: center;
}

.btn-order-now {
    background-color: #dc3545;
    padding: 10px 0;
}

.btn-order-btn {
    color: #fff;
    text-decoration: none;
}

.btn-order-btn:hover {
    color: #fff;
}

.btn-order {
    width: 100%;
    background-color: #fff;
}

.btn-order-pre {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.btn--order {
    background-color: #007bff;
    padding: 10px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-order-btn-2 {
    color: #fff;
    width: 50%;
    text-decoration: none;
}

.btn-order-btn-2:first-child {
    margin-right: 5px;
}

.btn-order-btn-2:last-child {
    margin-left: 5px;
}

.btn-order-btn-2:hover {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 879px) {
    .btn-order {
        position: fixed;
        bottom: 0;
        left: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 1000;
    }
}

.slick-arrow-sanpham {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 20px;
    z-index: 5;
    transition: all 0.2s linear;
}

.slick-arrow-sanpham:hover {
    background-color: #fff;
    color: #000;
}

@media only screen and (min-width: 880px) {
    .sanpham-menu-header {
        display: flex;
    }

    .sanpham-slick-img {
        width: 50%;
    }

    .sanpham-right-header {
        width: 100%;
        margin-top: 10px;
        padding-left: 10px;
    }

    .sanpham-header {
        font-size: 30px;
        padding: 30px 0;
    }

    .sanpham-body {
        width: 100%;
        display: flex;
    }

    .sanpham-body-config {
        padding-left: 10px;
        width: 40%;
        order: 2;
        border-left: 2px solid #bfbfbf;
    }

    .sanpham-body-info {
        margin-right: 10px;
        width: 60%;
        order: 1;
    }
}

.sanpham-body {
    width: 100%;
    padding: 10px 0;
}

.sanpham-info-header {
    width: 100%;
    padding: 15px 0 10px 0;
    font-size: 20px;
    border-bottom: 1px solid #6c757d;
}

.sanpham-info-body {
    padding: 10px 0;
    width: 100%;
    position: relative;
}

.sanpham-see-more {
    width: 100%;
    margin-top: -10px;
}


#sanpham-see-more-btn {
    width: 100%;
    border: 1px solid #007bff;
    padding: 10px;
    color: #007bff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

#sanpham-see-more-btn:hover {
    background-color: #007bff;
    color: #fff;
}

.gachngang {
    width: 100%;
    height: 10px;
    background-color: #dfe6e9;
    position: absolute;
    left: 0;
}

.sanpham-img img {
    width: 100%;
}

.sanpham-thuonghieu-body {
    width: 100%;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.sanpham-thuonghieu {
    width: 50%;
    padding: 10px;
    border: 1px solid #dfe6e9;
}

.sanpham-thuonghieu-img {
    width: 100%;
}

.sanpham-thuonghieu-img img {
    width: 100%;
}

.sanpham-thuonghieu-name {
    padding: 10px;
    font-size: 20px;
}

.sanpham-price {
    padding: 0 10px;
}

.sanpham-see-all {
    position: absolute;
    right: 10px;
    border: 1px solid #95a5a6;
    border-radius: 1.5rem;
    font-size: 18px;
    padding: 5px 10px;
}

#sanpham-nenmo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #95a5a6;
    opacity: .7;
    z-index: 10000;
    display: none;
}

.sanpham-detail-header {
    font-size: 25px;
}

#sanpham-detail-info {
    position: fixed;
    top: 10%;
    left: 500%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 10001;
    background-color: #fff;
    padding: 10px;
}

#sanpham-detail-detail {
    position: fixed;
    top: 10%;
    left: 500%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 10001;
    background-color: #fff;
    padding: 10px;
}

#sanpham-detail-config {
    position: fixed;
    top: 10%;
    left: 500%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 10001;
    background-color: #fff;
    padding: 10px;
}

@media only screen and (min-width: 880px) {
    #sanpham-detail-info {
        width: 70%;
    }
    
    #sanpham-detail-detail {
        width: 70%;
    }
    
    #sanpham-detail-config {
        width: 50%;
    }
    
}

.scroll-pane {
    height: 70vh;
    overflow-y: scroll;
    overflow-X: none;
    border: 1px solid gray;
    padding: 10px;
}

.sanpham-detail-close {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.foot-support {
    position: relative;
    display: flex;
}

.foot-header {
    font-weight: bold;
    font-size: 20px;
}

.foot-support-name {
    font-size: 16px;
}

.foot-support-hotline {
    position: absolute;
    right: 0;
    font-size: 20px;
    font-weight: bold;
}
.search-result-header {
    padding: 10px 10px 0 10px;
    font-size: 20px;
}

.search-result-nav {
    padding: 10px 10px 10px 10px;
}

.search-result-news {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #dfe6e9;
}

.panel2 {
    margin-top: 10px;
    background-color: #fff;
}

.filter-list-li li {
    padding-top: 10px;
}

.danhmuc-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.danhmuc-sanpham {
    width: 50%;
    padding: 10px;
    border: 1px solid #ecf0f1;
}

.danhmuc-img {
    width: 100%;
}

.danhmuc-img img {
    width: 100%;
}

@media only screen and (min-width: 880px) {
    .danhmuc-sanpham {
        width: 33%;
    }
}

@media only screen and (min-width: 1024px) {
    .danhmuc-sanpham {
        width: 25%;
    }
}

@media only screen and (min-width: 1000px) {
    .panel2:first-child {
        border-right: 10px solid #f1f2f6;
    }
}
.search-result-header {
    padding: 10px 10px 0 10px;
    font-size: 20px;
}

.search-result-nav {
    padding: 10px 10px 10px 10px;
}

.search-result-news {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #dfe6e9;
}

.panel2 {
    margin-top: 10px;
    background-color: #fff;
}

.form-header {
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #dfe6e9;
}

.form-body {}

.filter-list-li li {
    padding-top: 10px;
}

.danhmuc-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.danhmuc-news {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #ecf0f1;
}
.danhmuc-news:hover{
    background-color: #ecf0f1;
}

.danhmuc-img {
    width: 100%;
}

.danhmuc-img img {
    width: 100%;
}
.news-info{
    text-align: right;
    font-size: 14px;
    color: #7f8c8d;
}

.news-name{
    font-size: 18px;
}
@media only screen and (min-width: 880px) {
    .danhmuc-news {
        width: 33%;
    }
}

@media only screen and (min-width: 1024px) {
    .danhmuc-news {
        width: 25%;
    }
}

@media only screen and (min-width: 1000px) {
    .panel2:first-child {
        border-right: 10px solid #f1f2f6;
    }
}
.danhmuc {
    position: relative;
    background-color: #fff;
}

.danhmuc-header {
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #6c757d;
    font-weight: bold;
}

.danhmuc-nav-filter {
    padding: 10px;
    font-weight: bold;
}

.danhmuc-nav-tieuchi {
    padding: 0 10px;
}

.danhmuc-nav-tieuchi a {
    font-size: 13px;
    border: 1px solid #6c757d;
    padding: 5px 10px;
    border-radius: 1.5rem;
}

.danhmuc-nav-tieuchi a:hover {
    background-color: #dc3545;
    color: #fff;
}

.danhmuc-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.danhmuc-sanpham {
    width: 50%;
    padding: 10px;
    border: 1px solid #ecf0f1;
}

.danhmuc-img {
    width: 100%;
}

.danhmuc-img img {
    width: 100%;
}

@media only screen and (min-width: 480px) {
    .danhmuc-sanpham {
        width: 33%;
    }
}

@media only screen and (min-width: 880px) {
    .danhmuc-sanpham {
        width: 25%;
    }
}

@media only screen and (min-width: 1024px) {
    .danhmuc-sanpham {
        width: 20%;
    }
}